<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ottoboni.takeawaychallenge.featurerestaurant">

    <application>
        <activity
            android:name=".RestaurantActivity"
            android:theme="@style/ModuleTheme" />
    </application>
</manifest>